:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
}



header .container{
    display:flex;
    flex-direction: row;  /* Propriedade padrão */
    align-items: center;
    justify-content: space-between; /* cria um espaço entre os elementos contidos dentro da div(h2,nav)*/
}

header .logo{
    color:var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}